---
import { ViewTransitions } from "astro:transitions";
import { sobreMi } from "../data";

interface Props {
  title: string;
  main: boolean;
}

const { title, main } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="title" content={title} />
{main && (
  <>
    <meta name="description" content={sobreMi.metaDescription} />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={sobreMi.pageUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={sobreMi.metaDescription} />
    <meta property="og:image" content={sobreMi.srcPageImg} />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={sobreMi.pageUrl} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={sobreMi.metaDescription} />
    <meta property="twitter:image" content={sobreMi.srcPageImg} />
  </>
)}
    
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
      :root {
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
      }
      body {
        @apply bg-[#0c0c0c] dark:bg-[#f4f5f6] text-[#cccdcd] dark:text-[#1e1f1e] transition-colors duration-100 ease-linear relative p-4;
      }
      main {
        @apply transition-colors duration-100 ease-linear;
      }
      .section {
        @apply bg-[#151514] dark:bg-[#fefeff] text-[#cccdcd] dark:text-[#1e1f1e] rounded-[1.75rem] md:p-8 p-6 border border-[#323030] dark:border-[#cfd2d5] transition-colors duration-100 ease-linear;
      }
      .bg-noise {
        @apply left-0 top-0 absolute z-20 opacity-[0.06] w-full min-h-full bg-[url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png)] bg-[size:64px]  bg-repeat pointer-events-none;
        filter: brightness(95%)
      }
      
      .loader {
        width: 18px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 3px solid #dddddd;
        animation:
          l20-1 1s infinite linear alternate,
          l20-2 2s infinite linear;
      }
      @keyframes l20-1 {
        0% {
          clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%,
            50% 0%
          );
        }
        12.5% {
          clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 0%,
            100% 0%,
            100% 0%
          );
        }
        25% {
          clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 100%,
            100% 100%,
            100% 100%
          );
        }
        50% {
          clip-path: polygon(
            50% 50%,
            0 0,
            50% 0%,
            100% 0%,
            100% 100%,
            50% 100%,
            0% 100%
          );
        }
        62.5% {
          clip-path: polygon(
            50% 50%,
            100% 0,
            100% 0%,
            100% 0%,
            100% 100%,
            50% 100%,
            0% 100%
          );
        }
        75% {
          clip-path: polygon(
            50% 50%,
            100% 100%,
            100% 100%,
            100% 100%,
            100% 100%,
            50% 100%,
            0% 100%
          );
        }
        100% {
          clip-path: polygon(
            50% 50%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            50% 100%,
            0% 100%
          );
        }
      }
      @keyframes l20-2 {
        0% {
          transform: scaleY(1) rotate(0deg);
        }
        49.99% {
          transform: scaleY(1) rotate(135deg);
        }
        50% {
          transform: scaleY(-1) rotate(0deg);
        }
        100% {
          transform: scaleY(-1) rotate(-135deg);
        }
      }
    </style>
  </body>
</html>
